.airdropContainer {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Outfit, sans-serif;
    position: relative;
    box-sizing: border-box;
    align-items: center;
}

.intro {
    width: 520px;
    box-sizing: border-box;
    background: var(--White-05, rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid var(--White-05, rgba(255, 255, 255, 0.05));
    border-bottom: none;
    transition: 0.3s ease;
    font-family: Outfit, sans-serif;
}

.intro:hover {
    background-color: var(--White-05, rgba(255, 255, 255, 0.12));
}

.airdropImageContainer {
    flex: 0 0 160px;
    height: 180px;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: var(--White-05, rgba(255, 255, 255, 0.05));
    position: relative;
    box-sizing: border-box;
}

.airdropImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.airdropTitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
}

.airdropSubtitle {
    color: var(--White-40, rgba(255, 255, 255, 0.4));
    font-size: 16px;
}

.airdropDivider {
    height: 1px;
    width: 100%;
    border-top: 2px dashed #ffffff26;
    margin: 20px 0px;
}

.points {
    height: 32px;
    padding: 0px 12px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1000px;
    border: 0.5px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.07);
    color: #fffc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
}

.coinImage {
    height: 16px;
    width: 18px;
}

.arrowKey {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 20px;
    width: 25px;
}

.arrowInvertedImage {
    transform: rotate(180deg);
}

.tasks {
    padding: 24px;
    width: 530px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #101010;
    max-height: 350px;
    overflow-y: auto;
    left: 0;
    top: 100%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    font-family: Outfit, sans-serif;
}

.taskContainer {
    border-radius: 12px;
    border: 1px solid var(--White-05, rgba(255, 255, 255, 0.05));
    background: var(--White-05, rgba(255, 255, 255, 0.05));
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

.taskContainer:hover {
    background-color: var(--White-05, rgba(255, 255, 255, 0.12));
}

.taskTitle {
    font-family: Outfit, sans-serif;
    font-size: 20px;
    color: var(--White-80, rgba(255, 255, 255, 0.8));
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taskRight {
    width: 100%;
}

.taskImage {
    height: 80px;
    width: 120px;
    object-fit: cover;
    border-radius: 12px;
}

.taskProgress {
    display: flex;
    gap: 10px;
}

.totalTasks {
    font-family: Outfit, sans-serif;
    font-size: 14px;
    color: var(--White-60, rgba(255, 255, 255, 0.6));
    width: 255px;
    display: flex;
    align-items: center;
}

.progressContainer {
    position: relative;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 -0.5px 0.5px #fff3 inset, 0 0.5px 0.5px #fff3 inset;
    height: 18px;
    padding: 2px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
}

.innerProgressContainer {
    border-radius: 100px;
    border: 1px solid var(--Black-100, #000);
    background: var(--White-07, rgba(255, 255, 255, 0.07));
    box-shadow: 0 -2px 2px #0006 inset, 0 2px 2px #0006 inset;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.checkMark {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1000px;
    border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1));
    background: var(--White-05, rgba(255, 255, 255, 0.05));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-self: flex-end;
    color: #fff3;
    margin-right: 10px;
}

.taskDivider {
    height: 1px;
    width: 100%;
    border-top: 2px dashed #ffffff26;
    margin: 15px 0px;
}

.airdropQuests {
    width: max-content;
    padding: 11px 24px;
    gap: 8px;
    border-radius: 1000px;
    border: 1px solid var(--White-20, rgba(255, 255, 255, 0.2));
    background: var(--Black-40, rgba(0, 0, 0, 0.4));
    box-shadow: 0 0 5px #0000001a;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    font-family: Outfit, sans-serif;
    font-size: 14px;
}
